# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Maven / Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# PyInstaller
*.spec
predict_server

Finalproject/model/dist/predict_server
Finalproject/model/dist/predict_server.zip

temp_images/